:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  --gold: #e3bd12;
}

html {
  font-size: calc(0.6vw + 9px);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: calc(1vw + 1rem); */
  /* font-weight: 500; */
}
.center-page {
  /* background-color: #0e6ffc; */
  height: 100vh;
  display: grid;
  place-items: center;
}
.words-wrapper {
  font-size: 2.8rem;
  font-weight: 500;
  box-sizing: content-box;
  background-color: #ffffff;
  height: 3.5rem;
  /* margin-left: 1000px;
  width: 1000px; */
  padding-left: 10px;

  display: flex;
  /* justify-content: center; */
  /* border-radius: 8px; */
  /* box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2); */
  /* 
  display: block;
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0s cubic-bezier(0.215, 0.61, 0.355, 1); */
}
.under-words-wrapper-1 {
  font-size: 1.5rem; /*calc(1vw + 0.7rem);*/
  /* font-weight: 500; */
  background-color: #ffffff;
  height: 1.8rem; /*calc(1vw + 0.9rem);*/
  /* margin-left: 1000px;
  width: 1000px; */
  padding: 0px 5px;
  /* padding-right: 10%; */
  display: flex;
  margin-left: 20px;
}
.words-wrappers-container {
  position: absolute;
  top: 55%;
  right: 0%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  padding-right: calc(15vw - 50px);
}
.words {
  overflow: hidden;
}
.words span {
  display: block;
  height: 100%;
  /* padding-left: 10px; */
  color: var(--gold);
  animation: spin_words 8s infinite;
  animation-delay: 1.5s;
  /* animation-timing-function: linear; */
}
@keyframes spin_words {
  /* 15% {
    transform: translateY(-105%);
  } */
  16.67% {
    transform: translateY(-100%);
  }
  /* 40% {
    transform: translateY(-205%);
  } */
  33.34% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-300%);
  }
  66.68% {
    transform: translateY(-400%);
  }

  83.35% {
    transform: translateY(-500%);
  }
  /* 90% {
    transform: translateY(-405%);
  } */
  100% {
    transform: translateY(-600%);
  }
}

#kimeiga-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 30px;
  width: auto;
  z-index: 1;
}

#kimeiga-logo:hover path {
  fill: var(--gold);
}

.rest-of-page {
  padding: 5%;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--gold);
}

a:hover {
  text-decoration: line-through;
  font-style: italic;
}
